<section>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Banner</a>
            <a routerLink="/grid-list-view" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Grid List View</a>
            <a routerLink="/timer-one" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Timer One</a>
            <a routerLink="/timer-two" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Timer Two</a>
            <a routerLink="/dynamic-table" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Dynamic Table</a>
            <a routerLink="/dynamic-div"routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Dynamic Div</a>
        
    </nav>

    <article>
        <router-outlet></router-outlet>
    </article>
</section>