.main-container{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    color: #000;
    }
    
    .counter{
        position: relative;
        border: 1px solid #555;
        border-radius:5px ;
        margin: 20px;
        height: 300px;
        color: #000;
        background:#fff
    }
    .timeStamp{
        width: 500px;
        margin: 20px;
    }