.dynamic-box{
    margin: 10px;
    border:1px solid #333;
    height: 200px;
    width: 200px;
    position: relative;
    background-color: #666;
    text-align: center;
    color: #fff;
    font-size: 20;
p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
    button{
        right: 5px;
        bottom: 5px;
        color: #555;
        position: absolute;
        background: #fff;
    }
    
}
.main-container{
    height: 100vh;
   
}