<div class="container">
    <h1>Age Calculator</h1>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Select Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field  appearance="outline">
        <mat-label>Hour</mat-label>
        <input matInput placeholder="Hour" [(ngModel)]="hour" >
      </mat-form-field>:
      <mat-form-field  appearance="outline">
        <mat-label>Minute</mat-label>
        <input matInput placeholder="Minute" [(ngModel)]="min">
      </mat-form-field>:
      <mat-form-field  appearance="outline">
        <mat-label>second</mat-label>
        <input matInput placeholder="Second" [(ngModel)]="second">
      </mat-form-field>
      <br>
    <button type="submit" mat-stroked-button (click)="ageCalculator()" class="registerbtn">Submit</button>
    <div class="display-age">
        <h3>Your Age is{{age}}</h3>
    </div>
    
</div>