<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div>
            <label>Email</label>
            <br>
            <input id="email" type="text" formControlName="email">
            <div *ngIf="form['email'].invalid && (form['email'].dirty || form['email'].touched)"
                class="alert alert-danger">
                <div *ngIf="form['email'].errors?.['required']">
                    Email is required.
                </div>
            </div>
        </div>
        <div>
            <label>Password</label>
            <br>
            <input type="password" id="password" formControlName="password" required #validator class="form-control"
                password-validator="validator">
        </div>
        <div>
            <button type="submit" [disabled]="registerForm.invalid" class="registerbtn">Register</button>
        </div>
    </div>
    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>